<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/mainstyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="icon-bar">
  <a class="active" href=<i class="far fa-lightbulb"></i></a>
 <title>lightCville </title>
 


</head>

<body>
  <h1> Light Cville </h1>


  <!-- Body content injected by handlebars -->
    {{{body}}}

</body>

</html>
