<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lightCville</title>

</head>

<body>
  <h1> This is in main view </h1>


  <!-- Body content injected by handlebars -->
    {{{body}}}

</body>

</html>
