
<!-- Import leaflet and leaflet marker cluster css -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
<!-- Import Tabulator css -->
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<!-- Import Bootstrap css -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!-- link to our own css document -->
<link rel="stylesheet" href="/css/datastyle.css">
<link rel="stylesheet" herf="/css/mainstyle.css">

<section id="dataSection">

    <!-- Leaflet Map -->
    <div id="mapid"></div>

    <!-- Buttons -->
    <div id="buttonRow"> 
        <button id="dataFilterBtn" data-bs-toggle="modal" data-bs-target="#dataFilterModal"> Data Filter </button>
        <button id="addRecordBtn" data-bs-toggle="modal" data-bs-target="#addRecordModal"> Add Record </button>
        <button id="exportBtn"> Export to CSV </button>
    </div>
    
    <!-- Data Filter modal HTML, Appears upon clicking 'Data Filter' -->
    <div class="modal fade" id="dataFilterModal" tabindex="-1" aria-labelledby="dataFilterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="dataFilterModalLabel">Choose Data Filters</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="decal_colo" class="form-label">decal_colo</label>
                    <select class="custom-select w-50" id="decal_colo">
                        <option selected>Choose...</option>
                        <option value="GRE">GRE</option>
                        <option value="YLO">YLO</option>
                        <option value="LTBL">LTBL</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="owner" class="form-label">owner</label>
                    <select class="custom-select w-50" id="owner">
                        <option selected>Choose...</option>
                        <option value="None">None</option>
                        <option value="DOM">DOM</option>
                        <option value="PVT">PVT</option>
                        <option value="MUN">MUN</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="lumens" class="form-label">lumens</label>
                    <select class="custom-select w-50" id="lumens">
                        <option selected>Choose...</option>
                        <option value="3300">3300</option>
                        <option value="5000">5000</option>
                        <option value="7000">7000</option>
                        <option value="8000">8000</option>
                        <option value="11000">11000</option>
                        <option value="14000">14000</option>
                        <option value="20000">20000</option>
                        <option value="23000">23000</option>
                        <option value="42000">42000</option>
                        <option value="53000">53000</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='makeDataFilterBtn' data-bs-dismiss="modal">Filter</button>
        </div>
        </div>
    </div>
    </div>


    <!-- Add Record Modal -->
    <div class="modal fade" id="addRecordModal" tabindex="-1" aria-labelledby="addRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addRecordModalLabel">Enter Record Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3 non-dropdown">
                    <label for="base_colo_add" class="form-label">base_colo</label>
                    <input type="text" class="form-control w-50" id="base_colo_add" placeholder="No Value" disabled>
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="contract_n_add" class="form-label">contract_n</label>
                    <input type="text" class="form-control w-50" id="contract_n_add" placeholder="Enter value">
                </div>
                <div class="mb-3">
                    <label for="decal_colo_add" class="form-label">decal_colo</label>
                    <select class="custom-select w-50" id="decal_colo_add">
                        <option selected>Choose...</option>
                        <option text="GRE">GRE</option>
                        <option text="YLO">YLO</option>
                        <option text="LTBL">LTBL</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="decal_numb_add" class="form-label">decal_numb</label>
                    <select class="custom-select w-50" id="decal_numb_add">
                        <option selected>Choose...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="17">17</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="40">40</option>
                    </select>
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="install_da_add" class="form-label">install_da</label>
                    <input type="text" class="form-control w-50" id="install_da_add" placeholder="Auto-Filled" disabled>
                </div>
                <div class="mb-3">
                    <label for="lumens_add" class="form-label">lumens</label>
                    <select class="custom-select w-50" id="lumens_add">
                        <option selected>Choose...</option>
                        <option value="3300">3300</option>
                        <option value="5000">5000</option>
                        <option value="7000">7000</option>
                        <option value="8000">8000</option>
                        <option value="11000">11000</option>
                        <option value="14000">14000</option>
                        <option value="20000">20000</option>
                        <option value="23000">23000</option>
                        <option value="42000">42000</option>
                        <option value="53000">53000</option>
                    </select>
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="mount_heig_add" class="form-label">mount_heig</label>
                    <input type="text" class="form-control w-50" id="mount_heig_add" placeholder="Enter numeric value">
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="nom_volt_add" class="form-label">nom_volt</label>
                    <input type="text" class="form-control w-50" id="nom_volt_add" placeholder="Enter numeric value">
                </div>
                <div class="mb-3">
                    <label for="owner_add" class="form-label">owner</label>
                    <select class="custom-select w-50" id="owner_add">
                        <option selected>Choose...</option>
                        <option value="None">None</option>
                        <option value="DOM">DOM</option>
                        <option value="PVT">PVT</option>
                        <option value="MUN">MUN</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="style_add" class="form-label">style</label>
                    <select class="custom-select w-50" id="style_add">
                        <option selected>Choose...</option>
                        <option value="FLU">FLU</option>
                        <option value="STD">STD</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="watts_add" class="form-label">watts</label>
                    <select class="custom-select w-50" id="watts_add">
                        <option selected>Choose...</option>
                        <option value="70">70</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="175">175</option>
                        <option value="250">250</option>
                        <option value="400">400</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="work_effec_add" class="form-label">work_effec</label>
                    <input type="date" class="form-control w-50" id="work_effec_add" placeholder="Choose Date">
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="latitude_add" class="form-label">latitude</label>
                    <input type="text" class="form-control w-50" id="latitude_add" placeholder="Enter value (ex: 38.001)" required>
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="longitude_add" class="form-label">longitude</label>
                    <input type="text" class="form-control w-50" id="longitude_add" placeholder="Enter value (ex: -78.345)" required>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='addBtn' data-bs-dismiss="modal">Add</button>
        </div>
        </div>
    </div>
    </div>
   

    <!-- Edit Record Modal -->
    <div class="modal fade" id="editRecordModal" tabindex="-1" aria-labelledby="editRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editRecordModalLabel">Edit Record ID: <span id="editID"></span></span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3 non-dropdown">
                    <label for="editbase_colo" class="form-label">base_colo</label>
                    <input type="text" class="form-control w-50" id="editbase_colo" disabled>
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="editcontract_n" class="form-label">contract_n</label>
                    <input type="text" class="form-control w-50" id="editcontract_n">
                </div>
                <div class="mb-3">
                    <label for="editdecal_colo" class="form-label">decal_colo</label>
                    <select class="custom-select w-50" id="editdecal_colo">
                        <option selected>Choose...</option>
                        <option text="GRE">GRE</option>
                        <option text="YLO">YLO</option>
                        <option text="LTBL">LTBL</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="editdecal_numb" class="form-label">decal_numb</label>
                    <select class="custom-select w-50" id="editdecal_numb">
                        <option selected>Choose...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="17">17</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="40">40</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="editlumens" class="form-label">lumens</label>
                    <select class="custom-select w-50" id="editlumens">
                        <option selected>Choose...</option>
                        <option value="3300">3300</option>
                        <option value="5000">5000</option>
                        <option value="7000">7000</option>
                        <option value="8000">8000</option>
                        <option value="11000">11000</option>
                        <option value="14000">14000</option>
                        <option value="20000">20000</option>
                        <option value="23000">23000</option>
                        <option value="42000">42000</option>
                        <option value="53000">53000</option>
                    </select>
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="editmount_heig" class="form-label">mount_heig</label>
                    <input type="text" class="form-control w-50" id="editmount_heig" placeholder="Enter numeric value">
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="editnom_volt" class="form-label">nom_volt</label>
                    <input type="text" class="form-control w-50" id="editnom_volt" placeholder="Enter numeric value">
                </div>
                <div class="mb-3">
                    <label for="editowner" class="form-label">owner</label>
                    <select class="custom-select w-50" id="editowner">
                        <option selected>Choose...</option>
                        <option value=""></option>
                        <option value="None">None</option>
                        <option value="DOM">DOM</option>
                        <option value="PVT">PVT</option>
                        <option value="MUN">MUN</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="editstyle" class="form-label">style</label>
                    <select class="custom-select w-50" id="editstyle">
                        <option selected>Choose...</option>
                        <option value="FLU">FLU</option>
                        <option value="STD">STD</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="editwatts" class="form-label">watts</label>
                    <select class="custom-select w-50" id="editwatts">
                        <option selected>Choose...</option>
                        <option value="70">70</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="175">175</option>
                        <option value="250">250</option>
                        <option value="400">400</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
                <div class="mb-3 non-dropdown">
                    <label for="editwork_effec" class="form-label">work_effec</label>
                    <input type="date" class="form-control w-50" id="editwork_effec" placeholder="Choose Date">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='saveDataFilterBtn' data-bs-dismiss="modal" onclick="saveEditRecord()">Save</button>
        </div>
        </div>
    </div>
    </div>

    <!-- Tabulator Table -->
    <div id="dataTable"></div>

</section>


<!-- Import leaflet js -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js'></script>
<!-- Import leaflet markerCluster plugin -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
<!-- Import Tabulator js -->
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
<!-- Import Bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!-- my own external JS file for map -->
<script src="/js/data.js"></script>

