
<!-- Import leaflet and leaflet marker cluster css -->
<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
<!-- Import Tabulator css -->
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<!-- link to our own css document -->
<link rel="stylesheet" href="/css/datastyle.css">

<section id="dataSection">

    <!-- Leaflet Map -->
    <div id="mapid"></div>

    <!-- Buttons should go here -->
    <div id="buttonRow"> 
        <button id="dataFilterBtn"> Data Filter </button>
        <button id="exportBtn"> Export to .pdf </button>
        <button id="addRecordBtn"> Add Record </button>
        <button id="editRecordBtn"> Edit Records </button>
    </div>
    

    <!-- Tabulator Table -->
    <div id="dataTable"></div>

</section>


<!-- Import leaflet js -->
<script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
<!-- Import leaflet markerCluster plugin -->
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
<!-- Import Tabulator js -->
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
<!-- my own external JS file for map -->
<script src="/js/data.js"></script>

