

<link href="/css/loginstyle.css" rel="stylesheet">


<form class="form login-form" id="login-form">

   <div class="form-group">
    <label  for="username">User Name</label>
    <input class="form-input" type="text" id="user-name" />
  </div>
  <div class="form-group2">
    <label  for="email-login">Email</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn-primary" type="submit">Login</button>
  </div>
  <p>If not a returning user, create a login <span><a href="/register">here.</a></span></p>

</form>

<script src="/js/login.js"></script>
