<html lang="en">
<head>
  <link rel="stylesheet" href="/css/registerstyle.css">
  <link rel="stylesheet" href="/css/mainstyle.css">

</head>
 <body>
   
<form id='register-form'>
  <div class="container">
    <h2>Register</h2>
    <p>Please fill in this form to create an account</p>
    <hr>

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>

    <label><b>Email</b></label>
    <input type="text" placeholder="Enter-Email" name="email" id="email" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter-Password" name="password" id="password" required>

    <button type="submit" id="registerbtn">Register</button>
  </div>
</form>

<script src="/js/register.js"></script>
 </body>