/*************/
/* Main Page */
/*************/

#dataSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* map styles */ 
#mapid {
    display: flex;
    height: 700px;
    width: 95%;
    border-radius: 5px;
}

.leaflet-popup-content {
    font-size: 15px;
}

.popupBtn {
    width: 80px;
}

/* button styles */
#buttonRow {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    
}

button {
    width: 33.3%;
    font-size: 30px;
    border-radius: 5px;
    border: black;
    border-style: solid;
}

/* data table styles */
#dataTable {
    width: 95%;
    border-radius: 5px;
}

/***********************/
/* Modal Window Styles */
/***********************/

/* Data filter modal */
.modal-body {
    font-size: 20px;
}

.form-label {
    width: 110px;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-footer button {
    width: 100px;
}

/* Add record modal */

.non-dropdown {
    display: flex;
    flex-direction: row;
}


