
.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;     /* center align login-form itself */
}

/* input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #f1f1f1;
    border-radius: 5px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .login-form {width: 75%;}

  p {font-size: 20px;}
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {width: 100%;}
}