/* Global Styles */
* {box-sizing: border-box}

body {
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
}

 h1 {
  font-family:'Times New Roman', Times, serif;
  background-color:rgb(82, 134, 158);
  padding-top: 15px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  font-size: 32px;
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
           0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
           0 0 40px #A5F1FF;
 }


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: black;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 25px;
  border-radius: 5px;
}

button:hover {
  opacity:1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
