
#register-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;     /* center align register-form itself */
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
 
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  #register-form {
     width: 75%;
  }
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}