body {
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: center;
}

#mapid {
    display: flex;
    height: 700px;
    width: 90%;
}

table {
    margin-top: 20px;
}